.layout {
    --Layout-sidebar-width: min(20vw, 296px);
}

#root {
  padding: 0;
  margin: 0
}

.profile-container {
    max-width: 1280px;
    width: 95vw;
    margin: auto;
    overflow: hidden;
    padding: 0 0;
    margin-top: 6rem;
    margin-bottom: 3rem;
  }
  
  .layout {
    --Layout-gutter: 16px;
    grid-gap: var(--Layout-gutter);
    grid-auto-flow: column;
    grid-template-columns: auto 0 minmax(0, calc(100% - var(--Layout-sidebar-width) - var(--Layout-gutter)));
    display: grid;
    margin-top: 8px;
    max-width: 1280px;
    width: 95vw;
    margin: auto;
    overflow: hidden;
    padding: 0 0;
  }

  .layout .layout-sidebar {
    grid-column: 1;
    width: var(--Layout-sidebar-width)
  }

  .layout-main {
    grid-column: 2/span 2;
  }

  .img-border {
    border: medium solid rgb(235, 234, 234);
  }

  .p-top-background {
    background: linear-gradient(#0a192f, #ffffff);
    margin: auto;
    overflow: hidden;
    padding-top: 6rem;
    display: flex;
    justify-content: center;
  }
  /* 343a40 */
  .p-top-background:after {
    background: linear-gradient(#daf6ff, #fff);
  }

  .p-top {
    width: 95vw;
    max-width: 1280px;
  }

  .p-name { 
    font-size: 24px;
    line-height: 1.25;
  }

  .p-desc {
    margin: 16px 0;
    font-size: var(--h4-size, 16px) !important;
  }

  .p-btn {
    margin-bottom: 16px; 
    width: 100%;
    padding: 5px 16px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #c7c6c6;
    background-color: #fafafa;
    font-size: 16px;
  }

  .p-btn:hover {
    background-color: #f3f3f3;
  }

  .p-icon {
    padding-left: 10px;
  }

  .projects {
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(89, 89, 89);
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px double gray;
    padding-top: 16px;
  }

  .p-bottom {
    flex-basis: 49%;
    border-radius: 12px;
  }

  .p-bottom h2 {
    margin-bottom: 1rem;
  }

  .p-bottom > div {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: #ccc 1px dotted;
  }

  .p-bottom > div:last-child {
    border: 0;
  }

  .p-bottom p {
    margin: 0.5rem 0;
  }

  .swiper {
    position: relative;
  }

  .slide {
    margin-top: 16px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }

  .carousel-text {
    position: absolute;
    z-index: 10;
    background-color: #ff6347;
    border-radius: 10px;
    padding: 5px;
    top: 20px;
    left: 20px;
  }

  .p-card-container {
    position: relative;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .project-card {
    position: relative;
    padding: 16px;
    margin-bottom: 16px;
    flex-basis: 49%;
    border-radius: 6px;
    border: 1px solid rgb(210, 210, 210);
    display: flex;
    flex-direction: column;
  }

  .project-card:hover {
    transform: translate(0, -5px);
    transition-duration: 0.5s;
    box-shadow: 3px 6px #d2d2d2;
  }

  .card-title {
    font-size: large;
    font-weight: 600;
    color: #0986da;
    width: max-content;
  }

  .card-title:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }

  .card-description {
    margin-bottom: 8px;
    flex-grow: 1;
  }

  .card-tag {
    margin-top: auto;
  }